html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#root {
  height: 100%;
}

#page-wrap {
  padding: 20px;
}

.bm-menu-wrap {
  top: 0;
  z-index: 5 !important;
}

.bm-overlay {
  z-index: 4 !important;
}

.bm-burger-button {
  display: none;
}

@media (max-width: 800px) {
  #page-wrap {
    padding: 10px;
  }
  .ui.card {
    margin-right: 0 !important;
    max-width: calc(100vw - 40px);
  }
}
